@import url(./main.css);
@import url(./categorias_style.css);

* {
  text-decoration: none;
}

.pantalla_caracteristicas {
  margin: 90rem auto 0;
  padding: 0 5%;
  max-width: 1460rem;
  height: calc(100vh - 180rem);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.contenedor_general {
  max-width: 520rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caracteristicas_contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8rem auto 0;
  width: 100%;
}

.pantalla_caracteristicas h2 {
  font-family: "Noto Sans Display", sans-serif;
  font-size: 30rem;
  text-align: center;
}

.pantalla_caracteristicas > p {
  text-align: center;
  font-size: 20rem;
  max-width: 90%
}

.caracteristicas_contenedor p {
  font-size: 20rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60rem;
  height: 28rem;
  background-color: #d9d9d9;
  border-radius: 40rem;
  cursor: pointer;
  transition: all 0.4s;
}

.switch::after {
  content: "";
  position: absolute;
  width: 35rem;
  height: 28rem;
  background-color: #898989;
  border-radius: 40rem;
}

.offscreen {
  position: absolute;
  left: -999999rem;
}

input[type="checkbox"]:checked + .switch::after {
  transform: translateX(25rem);
  background-color: var(--main);
}

input[type="checkbox"]:checked + .switch {
  background-color: var(--secundario);
}


@media all and (max-width: 1087px) {
  .pantalla_caracteristicas {
    margin-top: 80rem;
    height: calc(100vh - 160rem);
  }

}

@media all and (max-width: 720px) {
  .pantalla_caracteristicas {
    margin-top: 72rem;
    height: calc(100vh - 144rem);
  }
}