@import url(./main.css);
@import url(./categorias_style.css);

* {
  text-decoration: none;
}

.pantalla_caracteristicas {
  margin: 90rem auto 0;
  padding: 0 5%;
  max-width: 1460rem;
  height: calc(100vh - 180rem);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.contenedor_general {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 520rem;

}

.caracteristicas_contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8rem 0;
  width: 100%;
}

.pantalla_caracteristicas h2 {
  font-family: "Noto Sans Display", sans-serif;
  font-size: 32rem;
}

.pantalla_caracteristicas > p {
  font-size: 20rem;
  text-align: center;
  max-width: 700rem;
}

.caracteristicas_contenedor p {
  font-size: 20rem;
}

.selector_numero input {
  background: #d9d9d9;
  padding: 6rem 12rem;
  font-size: 16rem;
  border: none;
  border-radius: 2rem;
  outline: none;
}

.selector_numero input:hover {
  filter: brightness(80%);
  color: var(--negro);
}

button {
  background-color: #c09665;
  width: 48rem;
  height: 30rem;
  border: none;
  outline: none;
  border-radius: 20rem;
  font-size: 18rem;
  font-weight: 700;
  color: var(--white);
  margin: 0 8rem;
}

button:hover {
  filter: brightness(90%);
}

@media all and (max-width: 1087px) {
  .pantalla_caracteristicas {
    margin-top: 80rem;
    height: calc(100vh - 160rem);
  }

}

@media all and (max-width: 720px) {
  .pantalla_caracteristicas {
    margin-top: 72rem;
    height: calc(100vh - 144rem);
  }
}
