@import url(./main.css);
@import url(./categorias_style.css);

* {
    text-decoration: none;
}

.pantalla_caracteristicas {
    margin: 90rem auto 0;
    padding: 0 5%;
    /* max-width: 1460rem; */
    max-width: 1460rem;
    height: calc(100vh - 180rem);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.galeria,
.descripcion {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 35vh;
}

.contenedor_general {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.contenedor_agregarimagenes {
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16rem;

}

.agregar_imagen {
    position: relative;
    width: 50%;
    height: 180rem;
    background-color: #E7F4F4;
    border-radius: 24rem;
    overflow: hidden;
    cursor: pointer;
}
.agregar_imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.agregar_texto {
    position: absolute;
    font-size: 80rem;
    font-weight: 300;
    color: var(--main);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pie_texto {
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: 8rem;
}

.galeria h2 {
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 30rem;
    /* margin-bottom: 24rem; */
}

.galeria>p {
    font-size: 18rem;
    text-align: center;
    max-width: 80%;
}


.contenedor_texto {
    width: inherit;
}

.contenedor_texto textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 177rem;
    max-height: 200rem;
    border-radius: 12rem;
    padding: 24rem;
    font-family: 'roboto', sans-serif;
    font-size: 18rem;
    outline: none;
}

.contenedor_texto textarea:focus {
    border: 3rem solid var(--main);
}

.descripcion h2 {
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 30rem;
    /* margin-bottom: 24rem; */
}

.descripcion>p {
    font-size: 18rem;
    /* margin-bottom: 0; */
    text-align: center;
    max-width: 80%;
}

@media all and (max-width: 1087px) {
    .pantalla_caracteristicas {
        margin-top: 80rem;
        height: calc(100vh - 160rem);
    }
}

@media all and (max-width: 720px) {
    .pantalla_caracteristicas {
        margin-top: 72rem;
        height: calc(100vh - 144rem);
    }
    .agregar_imagen{
        height: 12vh;
        border-radius: 20rem;
    }
}

@media all and (max-width: 480px){
    .galeria h2,
    .descripcion h2{
        font-size: 24rem;
    }

    .agregar_imagen{
        height: 10vh;
        border-radius: 16rem;
    }

    .galeria > p,
    .descripcion > p{
        max-width: 100%;
        text-align: justify;
        font-size: 16rem;
    }

    .contenedor_texto textarea{
        padding: 10rem;
        font-size: 16rem;
        min-height: 160rem;
        max-height: 180rem;
    }
}