@import url(./main.css);
@import url(./categorias_style.css);

*{
    text-decoration: none;
}

.pantalla_caracteristicas{
    margin: 168rem 0 80rem;
}

.galeria, .descripcion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contenedor_general{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.contenedor_agregarimagenes{
    display: flex;
    flex-direction: row;
}

.agregar_imagen{
    position: relative;
    width: 356rem;
    height: 172rem;
    background-color: #E7F4F4;
    border-radius: 24rem;
    margin: 0 8rem;
}

.agregar_texto{
    position: absolute;
    font-size: 80rem;
    font-weight: 300;
    color: var(--main);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pie_texto{
    display: flex;
    justify-content: end;
    width: 100%;
}

.galeria h2{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 30rem;
    margin-bottom: 24rem;
}

.galeria >p{
    font-size: 18rem;
    margin-bottom: 48rem;
    text-align: center;
    max-width: 900rem;
}

.descripcion{
    margin-top: 80rem;
}

.contenedor_texto textarea{
    width: 1078rem;
    height: 177rem;
    border-radius: 12rem;
    padding: 24rem;
    font-family: 'roboto', sans-serif;
    font-size: 18rem;
    outline: none;
}

.contenedor_texto textarea:focus{
    border: 3rem solid var(--main);
}

.contenedor_texto p{
   padding: 50rem 0 0;
}

.contenedor_texto .pie_texto p{
    padding: 8rem 0 0;
}

.pie_texto p {
    padding: 16rem 16rem 0 0;
}

.descripcion h2{
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 30rem;
    margin-bottom: 24rem;
}

.descripcion >p{
    font-size: 18rem;
    margin-bottom: 0;
    text-align: center;
    max-width: 900rem;
}

.slider_bar{
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    justify-content: center;
    margin-top: 76rem;
    width: 100%;
    align-items: center;
}

.slider_bar a{
    font-size: var(--main);
    color: var(--white);
    padding: 16rem 32rem;
    border: none;
    height: 51rem;
    border-radius: 24rem;
    text-transform: uppercase;
    background-color: var(--main);
    cursor: pointer;
}

.slider_bar a:hover{
    filter: brightness(130%);
}

.slider_bar .boton_secundario:hover{
    filter: brightness(95%);
}

.slider_bar .boton_secundario{
    font-size: var(--maintext);
    color: var(--main);
    padding: 16rem 32rem;
    border: 2rem solid var(--main);
    height: 51rem;
    border-radius: 24rem;
    text-transform: uppercase;
    background-color: var(--white);
    cursor: pointer;
}

.progress_bar{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0 30rem;
}

.progress_bar li{
    width: 70rem;
    height: 7rem;
    border-radius: 8rem;
    background-color: #BAB9B9;
    margin: 0 9rem;
}

.progress_bar .bar_color{
    background-color: var(--secundario);
}