@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@700&family=Roboto:wght@300;400;500&display=swap');
/* font-family: 'Noto Sans Display', sans-serif;
font-family: 'Roboto', sans-serif; */

/* resetenado padding y margin */
* {
  box-sizing: border-box;       
  margin: 0;
  padding: 0;
}

html {
  /*every 1rem = 1px*/
  font-size: 6.25%;
}

/* definiendo variables */
:root {
  --main: #00656A;
  --white: #FAFAFA;
  --secundario: #73D1D7;
  --negro: #333333;

  --maintext: 16rem;
  --titulo: 40rem;

  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: var(--negro);
}

/* HEADER */

header {
  width: 100%;
  height: 72rem;
  background-color: var(--main);
  position: fixed;
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 0 28px;
  box-shadow: 0rem 1rem 4rem var(--negro);
}

.header__logo i {
  font-size: 28rem;
  color: var(--white);
  cursor: pointer;
}

.header__buscar {
  position: relative;
  width: 320rem;
}

.buscar__input {
  font-size: var(--maintext);
  outline: none;
  height: 32rem;
  width: 320rem;
  border-radius: 50px;
  border: none;
  padding: 0 14rem;
}

.buscar__icono {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 16rem;
  font-size: var(--maintext);
  cursor: pointer;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-self: end;
}

.header__opciones {
  margin: 0 48rem;
}
.header__opciones a {
  font-size: var(--maintext);
  text-decoration: none;
  color: var(--white);
}

.header__perfil {
  width: 32rem;
  height: 32rem;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.perfil__icono {
  font-size: 20rem;
  color: var(--main);
}

/* BANER DE IMAGENES */
.banner {
  height: 664rem;
  width: 100%;
  position: relative;
}

.banner__imagen {
  height: inherit;
  width: 100%;
  object-fit: cover;
}

.banner__bottom {
  position: absolute;
  bottom: 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  height: 180rem;
  width: 100%;
}

.banner__slider {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 8rem;
  width: 100%;
  font-size: 10rem;
  bottom: 24rem;
}

.banner__slider i {
  cursor: pointer;
}

/* SECCION HOSPEDAJES */
.hospedajes {
  margin: 40rem;
}

.hospedajes__titulo {
  margin: 40rem 0;
  font-size: var(--titulo);
  text-transform: uppercase;
  font-family: 'Noto Sans Display', sans-serif;
}

.hospedajes__filtro {
  padding: 0 40rem;
  background-color: var(--secundario);
  border-radius: 20rem;
  height: 90rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16rem;
}

.filtro__icono {
  color: var(--negro);
  font-size: var(--maintext); 
}

.filtro__abrir {
  width: 120rem;
  height: 48rem;
  border-radius: 24rem;
  border: none;
  cursor: pointer;
  background-color: var(--secundario);
  border: 1rem solid var(--negro);
}

.hospedajes__subtitulo{
  font-size: medium;
  text-transform: uppercase;
  margin: 40rem 0 20rem;
}