@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@700&family=Roboto:wght@400;500&display=swap");
/* font-family: 'Noto Sans Display', sans-serif;
font-family: 'Roboto', sans-serif; */

/* resetenado padding y margin */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--maintext);

}

html {
  /*every 1rem = 1px*/
  font-size: 5%;
  background-color: var(--white);
}

/* definiendo variables */
:root {
  --main: rgb(0, 101, 106);
  --white: #fafafa;
  --secundario: rgb(115, 209, 215);
  --negro: #333333;
  --contraste: #C09665;

  --maintext: 16rem;
  --titulo: 40rem;

  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: var(--negro);

  scroll-behavior: smooth;
}

/* HEADER */

header {
  width: 100%;
  height: 90rem;
  background-color: var(--main);
  position: fixed;
  top: 0;
  z-index: 100;
  box-shadow: 0rem 1rem 4rem var(--negro);
}

.header__contenedor{
  width: inherit;
  height: inherit;
  max-width: 1660rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin: 0 auto;
  padding: 0 5%;
}

.header__logo svg {
  height: 66rem;
  width: auto;
  cursor: pointer;
}

.header__logo svg path {
  fill: var(--white);
}

.header__buscar {
  position: relative;
  width: 400rem;
  margin: 0 auto;
}

.buscar__input {
  font-size: var(--maintext);
  outline: none;
  height: 38rem;
  width: inherit;
  border-radius: 50px;
  border: none;
  padding: 0 14rem;
}

.buscar__icono {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 16rem;
  font-size: var(--maintext);
  cursor: pointer;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-self: end;
}

.header__opciones {
  margin: 0 48rem;
  font-size: var(--maintext);
  text-transform: uppercase;
  font-weight: 400;
  padding: 12rem;
  border-radius: 50rem;
  white-space: nowrap;
  cursor: pointer;
}

.header__opciones a{
  text-decoration: none;
  color: var(--white);
}

.header__opciones i {
  display: none;
}

.header__opciones i[data-title]:hover:after {
  opacity: 0.95;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
.header__opciones i[data-title]:after {
  content: attr(data-title);
  background-color: var(--white);
  color: var(--main) ;
  font-size: var(--maintext);
  font-family: 'Roboto', sans-serif; 
  position: absolute;
  padding: 10rem;
  bottom: -64rem;
  right: 0;
  white-space: nowrap;
  box-shadow: 1px 1px 3px var(--negro);
  opacity: 0;
  /* border: 1px solid #111111; */
  z-index: 99999;
  visibility: hidden;
  border-radius: 6px;
  text-transform:initial;
  
}
.header__opciones i[data-title] {
  position: relative;
}

.header__opciones:hover {
  background-color: rgba(115, 209, 215, 0.6);
}

.header__perfil {
  position: relative;
  width: 116rem;
  height: 59rem;
  border: 2rem solid var(--white);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 50rem;
  cursor: pointer;
  background-color: var(--main);
}

.header__perfil:hover {
  /* filter: drop-shadow(0 2rem 4rem var(--secundario)); */
  filter: brightness(130%);
}

.header__perfil > i {
  color: var(--white);
  font-size: var(--maintext);
  display: none;
}

.header__perfil > i.active{
  display: block;
}

.perfil__imagen {
  height: 46rem;
  width: 46rem;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2rem solid var(--white);
  overflow: hidden;
}

.perfil__icono {
  font-size: 32rem;
  color: var(--main);
}

.perfil__imagen img {
  height: inherit;
}

.perfil_menu{
  position: absolute;
  display: none;
  top: 88%;
  right: 5%;
  width: 200rem;
  background-color: var(--white);
  flex-direction: column;
  box-shadow: 1px 1px 3px var(--negro);
  border-radius: 12rem;
  overflow: hidden;
}

.perfil_menu.active{
  display: flex;
}

.perfil_menu a{
  display: none;
  text-decoration: none;
  padding: 16rem;
  color: var(--negro);
  background-color: white;
  text-transform: uppercase;
  cursor: pointer;
}
.perfil_menu a.active{
  display: block;
}

.perfil_menu a:hover{
  filter: brightness(95%);
  font-weight: 500;
}

/* popUp cerrar sesion */

header .popUpMensaje {
  position: absolute;
  top: 0;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

header .popUpMensaje.active{
  display: block;
}

.popUpMensaje__mensaje{
  position: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 0 40rem;
  background-color: var(--white);
  border-radius: 20rem;
  height: 240rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.popUpMensaje__cerrar{
  position: absolute;
  right: 14rem;
  top: 14rem;
  font-size: 24rem;
  cursor: pointer;
}

.popUpMensaje__mensaje p{
  font-size: 24rem;
  width: 100%;
  text-align: center;
}

.popUpMensaje__mensaje .sesion__iniciar{
  width: 176rem;
  height: 48rem;
  border-radius: 24rem;
  border: none;
  cursor: pointer;
  background-color: var(--main);
  text-transform: uppercase;
  color: var(--white);
  margin-right: 20rem;
}

.popUpMensaje__mensaje .sesion__registrarme{
  width: 176rem;
  height: 48rem;
  border-radius: 24rem;
  border: 2px solid var(--main);
  cursor: pointer;
  background-color: var(--white);
  text-transform: uppercase;
  color: var(--main);
  margin-right: 20rem;
}

.popUpMensaje__mensaje .sesion__iniciar:hover{
  filter: brightness(130%);
}

.popUpMensaje__mensaje .sesion__registrarme:hover{
  filter: brightness(92%);
}

/* BANER DE IMAGENES */
.banner {
  margin-top: 90rem;
  height: 680rem;
  position: relative;
  overflow: hidden;
}

.banner__slider {
  position: relative;
  height: inherit;
  width: 500%;
  display: flex;
  margin-left: 0%;
}

.banner__slider .slide{
  width: 100%;
  background-size:cover;
  background-position:center;
}

.banner__slider .slide.foto1{
  background-image: url(../recursos/portada-home//portada1.jpg);
}
.banner__slider .slide.foto2{
  background-image: url(../recursos/portada-home//portada2.jpg);
}
.banner__slider .slide.foto3{
  background-image: url(../recursos/portada-home//portada3.jpg);
}
.banner__slider .slide.foto4{
  background-image: url(../recursos/portada-home//portada4.jpg);
}
.banner__slider .slide.foto5{
  background-image: url(../recursos/portada-home//portada5.jpg);
}

.banner__bottom {
  position: absolute;
  bottom: 0rem;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  height: 180rem;
  width: 100%;
}

.bottom__slider {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 8rem;
  width: 100%;
  bottom: 24rem;
}

.bottom__slider button {
  height: 10rem;
  width: 10rem;
  border: 1rem solid var(--main);
  border-radius: 50%;
  cursor: pointer;
}

.bottom__slider button.active {
  background-color: var(--main);
}

/* SECCION HOSPEDAJES */
.hospedajes {
  padding: 0 5%;
  margin: 0 auto;
  max-width: 1660rem;
}

.hospedajes__titulo {
  margin: 28rem 0;
  font-size: var(--titulo);
  color: var(--negro);
  text-transform: uppercase;
  font-family: "Noto Sans Display", sans-serif;
}

.hospedajes__filtro {
  padding: 0 40rem;
  background-color: var(--secundario);
  border-radius: 20rem;
  height: 162rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filtro__izq {
  display: flex;
  align-items: center;
  gap: var(--maintext);
}
.filtro__abrir {
  width: 152rem;
  height: 48rem;
  border-radius: 24rem;
  border: none;
  cursor: pointer;
  background-color: var(--main);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--maintext);
}

.filtro__abrir i,
.filtro__abrir p {
  color: var(--white);
  font-size: var(--maintext);
  text-transform: uppercase;
}

.filtro__izq a {
  color: var(--wh);
  font-size: var(--maintext);
  text-transform: uppercase;
  text-decoration: none;
}

.filtro__izq a:hover {
  color: var(--main);
}

.filtro__mostrar {
  width: 216rem;
  height: 48rem;
  border-radius: 24rem;
  border: none;
  cursor: pointer;
  background-color: var(--main);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--maintext);
}

.filtro__mostrar:hover,
.filtro__abrir:hover {
  filter: brightness(130%);
}

.filtro__mostrar i,
.filtro__mostrar p {
  color: var(--white);
  font-size: var(--maintext);
  text-transform: uppercase;
}

.hospedajes__subtitulo {
  font-size: 24rem;
  text-transform: uppercase;
  margin: 40rem 0;
}

.hospedajes__contenedor{
  display: flex;
  justify-content: space-between;
  row-gap: 40rem;
  column-gap: 30rem;
  flex-flow: row wrap;
}

.hospedajes__card{
  position: relative;
  width: 30%;
  min-width: 380rem;
  height: 456rem;
  background-color: var(--white);
  filter: drop-shadow(0rem 4rem 4rem rgba(0, 0, 0, 0.25));
  border-radius: 20rem;
  overflow: hidden;
  cursor: pointer;
}

.hospedajes__card:hover{
  transform: scale(1.02);
}

.hospedajes__card img{
  width: 100%;
  height: 55%;
  object-fit: cover;
}

.card__favorito{
  position: absolute;
  top: 0;
  height: 52rem;
  width: 100%;
  background: rgb(176,82,82);
  background: linear-gradient(0deg, rgba(176,82,82,0) 0%, rgba(51,51,51,1) 135%);
}

.card__favorito i{
  position: inherit;
  top: 12rem;
  right: 12rem;
  font-size: 24rem;
  color: var(--white);
  cursor: pointer;
}

.card__favorito i.active{
  color: OrangeRed;
}

.card__desc{
  padding: 16rem 24rem 24rem;
}

.card__desc .card__titulo{
  justify-content: space-between;
  margin-bottom: 20rem;
  
}

.card__rating{
  display: flex;
  gap: 8rem;
}

.card__desc>div{
  display: flex;
  align-items: center;
  margin-bottom: 12rem;
}
.card__fecha p,
.card__email p,
.card__telefono p,
.card__ubicacion p{
  position: absolute;
  left: 48rem;
  font-size: 14rem;
  white-space: nowrap;
}

.card__nombre{
  font-size: 20rem;
  color: var(--main);
  text-transform: uppercase;
  white-space: nowrap;
  max-width: 80%;
  overflow: hidden;
}

.hospedajes__mostrar-mas{
display: flex;
flex-direction: column;
align-items: center;
margin: 40rem;
gap: 20rem;
}
.hospedajes__mostrar-mas p{
  text-transform: uppercase;
}

.hospedajes__mostrar-mas .mostrar-mas__boton{
  width: 176rem;
  height: 48rem;
  border-radius: 24rem;
  border: none;
  cursor: pointer;
  background-color: var(--main);
  text-transform: uppercase;
  color: var(--white);
}

.hospedajes__mostrar-mas .mostrar-mas__boton:hover{
  filter: brightness(130%);
}

/* INCIO DE SESION */

#mensajeCuenta{
  padding: 0 5%;
  margin: 0 auto;
  max-width: 1660rem;
  display: none;
}

#mensajeCuenta.active{
  display: block;
}

.sesion__subtitulo{
  margin-bottom: 48rem;
  font-size: 24rem;
}

.sesion__mensaje{
  position: relative;
  padding: 0 40rem;
  background-color: var(--secundario);
  border-radius: 20rem;
  height: 232rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.mensaje__cerrar{
  position: absolute;
  right: 14rem;
  top: 14rem;
  font-size: 24rem;
  cursor: pointer;
}

.sesion__mensaje p{
  font-size: 24rem;
  width: 80%;
}

.sesion__mensaje .sesion__iniciar{
  width: 176rem;
  height: 48rem;
  border-radius: 24rem;
  border: none;
  cursor: pointer;
  background-color: var(--main);
  text-transform: uppercase;
  color: var(--white);
  margin-right: 20rem;
}

.sesion__mensaje .sesion__registrarme{
  width: 176rem;
  height: 48rem;
  border-radius: 24rem;
  border: 2px solid var(--main);
  cursor: pointer;
  background-color: var(--secundario);
  text-transform: uppercase;
  color: var(--main);
  margin-right: 20rem;
}

.sesion__mensaje .sesion__iniciar:hover{
  filter: brightness(130%);
}

.sesion__mensaje .sesion__registrarme:hover{
  filter: brightness(92%);
}


/* ATRACTIVOS TURISTICOS */
.turisticos{
  margin: 40rem auto;
  padding: 0 5%;
  max-width: 1660rem;
}

.turisticos_marco{
  overflow-x: auto;
}

.turisticos_marco::-webkit-scrollbar{
  height: 8rem;
  background-color: var(--white);
}

.turisticos_marco::-webkit-scrollbar-thumb{
  background-color: var(--main);
  border-radius: 24rem;
}


.turisticos__titulo{
  margin: 48rem 0;
  font-size: 24rem;
  text-transform: uppercase;
}

.turisticos__contenedor{
  width: 3000rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.turisticos__card{
  display: inline-block;
  width: 400rem;
  height: 332rem;
  margin-right: 24rem;
  background-color: var(--white);
  filter: drop-shadow(0rem 4rem 4rem rgba(0, 0, 0, 0.25));
  border-radius: 20rem;
  overflow: hidden;
}

.turisticos__card img{
  width: 100%;
  height: 55%;
  object-fit: cover;
}

.turisticos__card .card__desc{
  padding: 16rem 24rem 24rem;
}

.turisticos__card .card__desc .card__nombre{
  margin-bottom: 20rem;
  font-size: 20rem;
  color: var(--main);
  text-transform: uppercase;
}

/* FOOTER */
footer{
  width: 100%;
  height: 90rem;
  background-color: var(--main);
}

.footer__contenedor{
  margin: 0 auto;
  padding: 0 5%;
  width: inherit;
  height: inherit;
  max-width: 1660rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

footer p{
  width: 50%;
  color: var(--white);
  text-transform: uppercase;
}

footer a{
  color: var(--white);
  text-decoration: none;
  margin-right: 16rem;
}

footer a i{
  font-size: 24rem;
}

@media all and (max-width:1087px) {
  html {
    /*every 1rem = 1px*/
    font-size: 4.8%;
  }
  
  header,
  footer{
    height: 80rem;
  }

  .banner {
    height: 480rem;
    margin-top: 80rem;
  }

  .header__logo svg {
    height: 54rem;
  }

  .header__contenedor {
    grid-template-columns: 1fr 1fr;
  }

  .header__buscar {
    display: none;
  }

  
  .hospedajes__card{
    width: 48%;
  }

  .sesion__mensaje {
    align-items: center;
  }

  footer p{
    font-size: 10rem;
  }
}

@media all and (max-width:720px) {
  html {
    /*every 1rem = 1px*/
    font-size: 4%;
  }

  header,
  footer{
    height: 72rem;
  }

  .header__logo svg {
    height: 48rem;
  }

  .header__opciones {
    background-color: rgba(115, 209, 215, 0.6);
  }
  .header__opciones i {
    display: block;
  }
  
  .header__opciones a span{
    display: none;
  }
  
  .header__opciones:hover {
    filter: brightness(130%);
  }

  .header__perfil {
    width: 80rem;
    height: 54rem;
  }

  .perfil__imagen {
    height: 40rem;
    width: 40rem;
  }

  .bottom__slider button {
    height: 24rem;
    width: 24rem;
    }

    
  .banner {
    margin-top: 72rem;
    height: 320rem;
  }

  .hospedajes__card{
    width: 100%;
  }

  .card__fecha p, .card__email p, .card__telefono p, .card__ubicacion p {
    font-size: var(--maintext);
  }

  .sesion__mensaje p {
    text-align: center;
    font-size: 20rem;
    width: 100%;
  }
}