@import url(./main.css);

* {
    text-decoration: none;
  }
  
.pantalla_card {
    margin: 180rem 0 80rem;
    display: flex;
    justify-content: space-around;
}

h3 {
    font-family: 'noto sans display';
    font-size: 24rem;
    color: var(--negro);
    text-transform: uppercase;
}
  
.cabecera h2 {
    font-family: 'noto sans display';
    font-size: 40rem;
    color: var(--main);
}

.chips ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 28rem;
}

.chips li {
    padding: 12rem 16rem;
    font-size: 12rem;
    background-color: var(--main);
    color: var(--white);
    border-radius: 24rem;
    margin: 16rem 4rem;
    text-transform: uppercase;
}

.chips .categoria_card {
    background-color: var(--contraste);
}

.descripcion_alojamiento {
    max-width: 900rem;
}

.descripcion_alojamiento p {
    font-size: 18rem;
}

.contenedor_principal {
    display: flex;
    flex-direction: row;
    margin: 40rem 0;
}

.precio_alojamiento {
    padding: 50rem 24rem;
    border: 4rem solid var(--secundario);
    border-radius: 24rem;
}

.caja_detalles {
    margin-left: 24rem;
}

.precio_alojamiento h3 {
    font-family: 'noto sans display';
    font-size: 56rem;
    color: var(--main);
}

.precio_alojamiento h4 {
    font-size: 27rem;
    font-weight: 500;
}

.contacto {
    margin-top: 24rem;
}

.contacto p {
    font-size: 18rem;
    color: var(--negro);
    display: flex;
    align-items: center;
}

.contacto img {
    height: 24rem;
    padding: 2rem 8rem 2rem 0;
}

.galeria_inferior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 48rem;
}

.galeria_contenedor {
    position: relative;
    border-radius: 12rem;
    height: 180rem;
    width: 280rem;
    overflow: hidden;
    object-fit: cover;
}

/* .galeria_contenedor img:hover {
    filter: brightness(60%);
} */

.galeria_contenedor .overlay{
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    height: inherit;
    width: inherit;
    display: none;
}


.galeria_contenedor:hover p,
.galeria_contenedor:hover .overlay{
    display: block;
}


.galeria_inferior img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.galeria_inferior p {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    color: var(--white);
    font-size: 18rem;
    font-weight: 500;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    z-index: 100;
    cursor: pointer;
}

/*lightbox*/
.lightbox {
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    z-index: 999;
}

.lightbox-content {
    position: relative;
    width: 65%;
    height: 58%;
    margin: 5% auto;
}

.lightbox-content img {
    width: 100%;
    height: 100%;
    border: 6rem solid var(--white);
    object-fit: cover;
}

.lightbox-prev,
.lightbox-next {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--white);
    padding: 9rem;
    top: 45%;
    cursor: pointer;
}

.lightbox-prev {
    left: 0;
}

.lightbox-next {
    right: 0;
}


.puntaje, .mobiliario {
    margin-bottom: 40rem;
    padding: 32rem 32rem;
    border: 2rem solid #949494;
    border-radius: 24rem;
}

.puntaje_titulo {
    display: flex;
    flex-direction: row;
    margin-bottom: 40rem;
}

.puntaje_titulo p {
    font-size: 30rem;
    color: var(--contraste);
}

.puntaje_titulo img {
    margin: 0 6rem 0 24rem;
}

button {
    text-transform: uppercase;
    background-color: var(--main);
    padding: 16rem 32rem;
    border: none;
    outline: none;
    border-radius: 24rem;
    font-size: 16rem;
    font-weight: 500;
    color: var(--white);
    cursor: pointer;
}
  
button:hover {
    filter: brightness(130%);
}

.mobiliario li {
    padding: 8rem 0;
}

.contenedor_listas {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contenedor_listas ul {
    list-style: none;
}

.mobiliario_lista2 {
    font-size: 20rem;
    font-weight: 500;
}

.mobiliario_lista, .mobiliario_lista2 {
    padding: 0 24rem;
}

.reclamar {
    margin-top: 40rem;
}

.ubicacion, .reclamar {
    padding: 32rem 32rem;
    background-color: var(--white);
    filter: drop-shadow(0rem 4rem 4rem rgba(0, 0, 0, 0.25));
    border-radius: 24rem;
    cursor: pointer;
}

.ubicacion p {
    margin: 18rem 0 24rem;
}

.ubicacion img {
    padding-right: 12rem;
}

#map {
	height: 332rem;
	width: 100%;
}

.reclamar p {
    margin: 18rem 0 24rem;
}