@import url(./main.css);
@import url(./categorias_style.css);

* {
    text-decoration: none;
}

.pantalla_card {
    margin: 90rem auto 0;
    padding: 0 5%;
    max-width: 1460rem;
    display: flex;
    /* justify-content: space-around; */
}

h3 {
    font-family: 'noto sans display';
    font-size: 24rem;
    color: var(--negro);
    text-transform: uppercase;
}

.cabecera {
    width: 100%;
}

.cabecera h2 {
    font-family: 'noto sans display';
    font-size: 40rem;
    color: var(--main);
    margin: 20rem 0;
}

.chips {
    width: 100%;
}

.chips ul {
    width: inherit;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20rem;
    gap: 8rem;
}

.chips li {
    padding: 12rem 16rem;
    font-size: 12rem;
    background-color: var(--main);
    color: var(--white);
    border-radius: 24rem;
    /* margin: 16rem 4rem; */
    text-transform: uppercase;
}

.chips .categoria_card {
    background-color: var(--contraste);
}

.descripcion_alojamiento p {
    font-size: 18rem;
}

.contenedor_principal {
    display: flex;
    flex-direction: row;
    margin: 40rem 0;
    gap: 20rem;
}

.contenedor_principal .galeria {
    width: 60%;
    overflow: hidden;
    border-radius: 8rem;
}

.contenedor_principal .galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.precio_alojamiento {
    height: 176rem;
    border: 4rem solid var(--secundario);
    border-radius: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caja_detalles {
    display: flex;
    flex-direction: column;
    gap: 20rem;
}
.precio_alojamiento h3 {
    font-family: 'noto sans display';
    font-size: 56rem;
    color: var(--main);
}

.precio_alojamiento h4 {
    font-size: 27rem;
    font-weight: 500;
}

.contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

.contacto p {
    font-size: 18rem;
    color: var(--negro);
    display: grid;
    align-items: start;
    grid-template-columns: 1fr 20fr;
    gap: 8rem;
}

.contacto img {
    width: 18rem;
}


.galeria_inferior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 48rem;
    gap: 20rem;
}

.galeria_inferior img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeria_inferior p {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    color: var(--white);
    font-size: 18rem;
    font-weight: 500;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    z-index: 100;
    cursor: pointer;
    text-align: center;
}

.galeria_contenedor {
    position: relative;
    border-radius: 12rem;
    height: 180rem;
    width: 23%;
    overflow: hidden;
}


.galeria_contenedor .overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    display: none;
}


.galeria_contenedor:hover p,
.galeria_contenedor:hover .overlay {
    display: block;
}

/*lightbox*/
.lightbox {
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    position: relative;
    width: 65%;
    height: 58%;
    margin: auto;
}

.lightbox-content img {
    width: 100%;
    height: 100%;
    border: 6rem solid var(--white);
    object-fit: cover;
}

.lightbox-prev,
.lightbox-next {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--white);
    padding: 9rem;
    top: 45%;
    cursor: pointer;
}

.lightbox-prev {
    left: 0;
}

.lightbox-next {
    right: 0;
}


.puntaje,
.mobiliario {
    margin-bottom: 40rem;
    padding: 32rem 32rem;
    border: 2rem solid #949494;
    border-radius: 24rem;
}

.puntaje{
    display: flex;
    flex-direction: column;
}

.puntaje_titulo {
    display: flex;
    align-items: center;
    margin-bottom: 40rem;
}

.puntaje_titulo p {
    display: flex;
    align-items: center;
    font-size: 30rem;
    color: var(--contraste);
}

.puntaje_titulo img {
    margin: 0 6rem 0 24rem;
}

button {
    text-transform: uppercase;
    background-color: var(--main);
    padding: 16rem 32rem;
    border: none;
    outline: none;
    border-radius: 24rem;
    font-size: 16rem;
    font-weight: 500;
    color: var(--white);
    cursor: pointer;
    width: 230rem;
}

button:hover {
    filter: brightness(130%);
}

.mobiliario li {
    padding: 8rem 0;
}

.contenedor_listas {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contenedor_listas ul {
    list-style: none;
}

.mobiliario_lista2 {
    font-size: 20rem;
    font-weight: 500;
}

.mobiliario_lista,
.mobiliario_lista2 {
    padding: 0 24rem;
}

.reclamar {
    margin: 40rem 0;
}

.ubicacion,
.reclamar {
    padding: 32rem 32rem;
    background-color: var(--white);
    filter: drop-shadow(0rem 4rem 4rem rgba(0, 0, 0, 0.25));
    border-radius: 24rem;
}

.ubicacion p {
    margin: 18rem 0 24rem;
}

.ubicacion img {
    padding-right: 12rem;
}

#map {
    height: 332rem;
    width: 100%;
    border-radius: 14rem;
}

.reclamar p {
    margin: 18rem 0 24rem;
}

@media all and (max-width: 1087px) {
    .pantalla_card {
        margin-top: 80rem;
    }
}

@media all and (max-width: 720px) {
    .pantalla_card {
        margin-top: 72rem;
    }
}

@media all and (max-width: 640px) {
    .contenedor_principal {
        flex-direction: column;
        margin: 20rem 0;
        gap: 20rem;
    }

    .contenedor_principal .galeria {
        width: 100%;
    }

    .caja_detalles {
        flex-direction: row;
        justify-content: space-between;
    }

    .caja_detalles .precio_alojamiento{
        width: 50%;
    }
    button {
        width: 100%;
    }
    
}

@media all and (max-width: 480px) {
    .caja_detalles {
        flex-direction: column;
        justify-content: space-between;
    }

    .contenedor_principal .galeria {
        height: 320rem;
    }

    .caja_detalles .precio_alojamiento{
        width: 100%;
    }
}

