@import url(./main.css);
@import url(./categorias_style.css);

* {
  text-decoration: none;
}

.pantalla_caracteristicas {
  margin: 90rem auto 0;
  padding: 0 5%;
  max-width: 1460rem;
  height: calc(100vh - 180rem);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.contenedor_general {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 660rem;
  height: 380rem;
  background-color: #b1e5e9;
  border-radius: 24rem;
}

.caracteristicas_contenedor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pantalla_caracteristicas h2 {
  font-family: "Noto Sans Display", sans-serif;
  font-size: 30rem;
}

.pantalla_caracteristicas > p {
  font-size: 20rem;
  text-align: center;
  max-width: 950rem;
}

.nice-number {
  display: inline-flex;
  justify-content: stretch;
  align-items: center;
}


input {
  width: 480rem;
  background: var(--white);
  padding: 24rem 50rem;
  font-size: 30rem;
  border: none;
  border-radius: 24rem;
  outline: none;
}

input:hover {
  filter: brightness(95%);
  color: var(--negro);
}

button {
  background-color: var(--main);
  width: 70rem;
  height: 40rem;
  border: none;
  outline: none;
  border-radius: 20rem;
  font-size: 24rem;
  font-weight: 500;
  color: var(--white);
  margin: 0 8rem;
}

button:hover {
  filter: brightness(90%);
}

@media all and (max-width: 1087px) {
  .pantalla_caracteristicas {
    margin-top: 80rem;
    height: calc(100vh - 160rem);
  }
}

@media all and (max-width: 720px) {
  .pantalla_caracteristicas {
    margin-top: 72rem;
    height: calc(100vh - 144rem);
  }
}
