@import url(./main.css);
@import url(./categorias_style.css);

* {
  text-decoration: none;
}

.pantalla_ubicacion{
  margin: 90rem auto 0;
  padding: 0 5%;
  max-width: 1460rem;
  height: calc(100vh - 180rem);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.pantalla_ubicacion h2 {
  font-family: "Noto Sans Display", sans-serif;
  font-size: 30rem;
  /* margin-bottom: 24rem; */
}

.pantalla_ubicacion p {
  font-size: 18rem;
  /* margin-bottom: 48rem; */
}

.ubicacion_contenedor img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.ubicacion_contenedor {
  max-width: 720rem;
  width: 100%;
  overflow: hidden;
  border-radius: 24rem;
}

@media all and (max-width: 1087px) {
  .pantalla_ubicacion {
    margin-top: 80rem;
    height: calc(100vh - 160rem);
  }

  .ubicacion_contenedor{
    height: 60%;
  }
}

@media all and (max-width: 720px) {
  .pantalla_ubicacion {
    margin-top: 72rem;
    height: calc(100vh - 144rem);
  }

}

