@import url(./main.css);
@import url(./categorias_style.css);

* {
  text-decoration: none;
}

.pantalla_ubicacion{
  margin: 168rem auto 48px;
  padding: 0 5%;
  max-width: 1460rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-family: "Noto Sans Display", sans-serif;
  font-size: 30rem;
  margin: 24rem 0;
}

.pantalla_ubicacion p {
  font-size: 18rem;
  margin-bottom: 48rem;
}

.ubicacion h3 {
  font-family: 'noto sans display';
  font-size: 24rem;
  color: var(--negro);
  text-transform: uppercase;
}

.ubicacion{
    padding: 32rem 32rem;
    width: 80%;
    height: 520rem;
    background-color: var(--white);
    filter: drop-shadow(0rem 4rem 4rem rgba(0, 0, 0, 0.25));
    border-radius: 24rem;
}

.ubicacion p {
    margin: 18rem 0 24rem;
}

.ubicacion img {
    padding-right: 12rem;
}

#map {
    height: 320rem;
    width: 100%;
    border-radius: 14rem;
}

.telefono_contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50rem
}

.telefono_contenedor h2 {
  margin-top: 64rem;
}

.telefono_contenedor input,
.ubicacion input {
  /* margin-bottom: 120rem; */
  height: 48rem;
  width: 376rem;
  border-radius: 24rem;
  font-family: "Roboto", sans-serif;
  border: none;
  outline: none;
  background-color: #ececec;
  color: var(--negro);
  padding: 0 28rem;
  /* text-transform: capitalize; */
}

.ubicacion input{
  width: 100%;
  margin: 20rem 0;
}

@media all and (max-width: 1087px) {
  .pantalla_ubicacion {
    margin-top: 80rem;
    /* height: calc(100vh - 160rem); */
  }

  .ubicacion_contenedor{
    height: 60%;
  }
}

@media all and (max-width: 720px) {
  .pantalla_ubicacion {
    margin-top: 72rem;
    /* height: calc(100vh - 144rem); */
  }

}

